@import "tailwindcss";
@import "@heroui/react/styles";

@theme {
  --color-pro-50: #f0fdf4;
  --color-pro-100: #dcfce7;
  --color-pro-200: #bbf7d0;
  --color-pro-300: #86efac;
  --color-pro-400: #4ade80;
  --color-pro-500: #22c55e;
  --color-pro-600: #16a34a;
  --color-pro-700: #15803d;
  --color-pro-800: #166534;
  --color-pro-900: #14532d;

  --color-against-50: #fef2f2;
  --color-against-100: #fee2e2;
  --color-against-200: #fecaca;
  --color-against-300: #fca5a5;
  --color-against-400: #f87171;
  --color-against-500: #ef4444;
  --color-against-600: #dc2626;
  --color-against-700: #b91c1c;
  --color-against-800: #991b1b;
  --color-against-900: #7f1d1d;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
